<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta charset="utf-8">
    <title>About Justin</title>
    <style>
    body {
        font-family: 'Montserrat', sans-serif;font-size: 15px;
         }
    </style>
  </head>
  <body class="index-page">
    <section id="two" class="main" style="text-align:center;
    width: 800px;
  margin: 100px auto;
  padding: 100px;">
      <header class="major">
        <h2 style="color:#e6e6e6">After learning the tools of a data scientist, I am incorporating my knowledge from various industries to make some cool stuff.</h2>
      </header>
      <p style="color:#e6e6e6">Justin is a student at Galvanize learning about data science for three months. Over the course of four weeks, he used natural language processing to display summarized video content. When he's not working, he loves to play tennis as well as learn animation.</p>
      <img src="../static/svg/social-1_logo-github.svg" alt="">

      <img src="../static/svg/social-1_round-linkedin.svg" alt="">

    </section>

  </body>
</html>
