{% extends "layout.html" %}


{% block body %}

  <!-- Navigation -->
  <a class="menu-toggle rounded" href={{ url_for('vid' ,vid_name=thumbnail )}}>
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Justin Ho</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">About the Project</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="">About Me</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="https://github.com/justinho8161/Price-Regression-Price-Study">Vehicle Price Regression</a>
        <a class="js-scroll-trigger" href="https://github.com/justinho8161/Churn-Prediction">Predicting Customer Churn</a>
        <a class="js-scroll-trigger" href="https://github.com/justinho8161/Churn-Prediction">Movie Recommender System</a>
        <a class="js-scroll-trigger" href="https://github.com/justinho8161/Churn-Prediction">Predicting Fraud Detection</a>
      </li>
      </ul>
  </nav>

  <!-- Header -->
  <div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="ml12" style="font-weight:bold;">Summarize Your Videos</h1>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

          <div class="wrap">
            <form action="{{ url_for('new') }}" method="post">
              <div class="mat-div">
                <label for="first-name" class="mat-label">Link</label>
                <input id="url" type="url" name="link" class="mat-input" required data-error-msg="Must be a valid URL">
              </div>

            <button type="submit" onclick="move()" class ="btn btn-primary btn-xl">Submit</button>
          </form>

          <style>
          #myProgress {
            width: 100%;
            background-color: #ddd;
          }

          #myBar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
          }
          </style>

          <div id="myProgress">
            <div id="myBar">0%</div>
          </div>
          <br>

          <script>
          function move() {
            var elem = document.getElementById("myBar");
            var width = 0;
            var id = setInterval(frame, 3000);
            function frame() {
              if (width >= 100) {
                clearInterval(id);
              } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1  + '%';
              }
            }
          }
          </script>


          </div>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">View our videos here</a>
        </div>
      </div>
    </div>
  </div>

  <!-- About -->
  <section class="content-section" id="about">
    <div class="container">
      <h1 class="font-weight-bold text-center text-lg-left mt-4 mb-0" style="color:#fff;">Curated Videos</h1>
      <hr class="mt-2 mb-5">
      <div class="row text-center text-lg-left">
          {% for thumbnail in thumbnails %}
        <div class="view view-first col-lg-3 col-md-4 col-6">
          <a name="name" href={{ url_for('vid' ,vid_name=thumbnail[0] )}} class="d-block mb-4 h-100" title="{{thumbnail[1]}}">
                <img class="img-fluid img-thumbnail" src="../static/videos/{{thumbnail[0]}}.jpg">
          </a>
        </div>
          {% endfor %}

      </div>
    </div>
<!-- /.container -->
  </section>


{% endblock %}
