
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link type="text/css" rel="stylesheet" href="../static/css/lightgallery.css" />
  <!-- Bootstrap Core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../static/css/stylish-portfolio.css" rel="stylesheet">
</head>
  <body class="index-page" id="page-top">



    {% block body %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/js/lightgallery.js"></script>
    <script src="../static/js/lg-thumbnail.min.js"></script>
    <script src="../static/js/lg-fullscreen.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.js"></script>

  </body>

</html>
