{% extends "layout.html" %}


{% block body %}
    <section style="">
        <div class="container-fluid" style ="">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-lg-8" style="padding:5% 0% 0% 0%;">
                  <video poster="../static/videos/{{vid_name}}.jpg" controls preload="none" width="960" height="540" style = "display: block; margin: 0 auto;">
                    <source src="../static/videos/{{vid_name}}s.mp4" type="video/mp4"/>
                  </video>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 scrollable" style="padding:5% 5% 5% 0%; height: 600px; overflow-y: scroll;">
                  <span style="color:#fff; font-size:18px;">
                    {% for sentences in new_transcript %}
                        {% if sentences[0] %}
                          <mark>{{sentences[1]}}.</mark>
                          {% else %}
                                {{sentences[1]}}.
                          {% endif %}
                      {% endfor %}
                  </span>
              </div>

              </div>
              <div class="row" style="padding-bottom:10%;">
                <div class="col-md-6 col-sm-6 col-lg-6" style="padding-top:5%; text-align:center;">
                  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">View the Stats Here</a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6" style="padding-top:5%; text-align:center;">
                  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#transcript">View the Transcripts Here</a>
                </div>
              </div>
            </div>
      <br>
    </section>

    <section id="header">
      <div class="container" id="about" style="padding-top:2%;">
          <div class="row">
              <div class="col-md-8 col-sm-8 col-lg-8" style="">
                  <div class="changeColor" style="font-size:20px;">
                      Original Duration: {{model_info[0][5]}}
                  </div>
                  <div class="changeColor" style="font-size:20px;">
                    Summarized Duration:{{model_info[0][6]}}
                  </div>
                  <div class="changeColor" style="font-size:20px;">
                    {{model_info[0][7]}}% Difference
                  </div>
                  <br>
                  <div class="changeColor" style="font-size:20px;">
                      Original Word Count: {{model_info[0][8]}}
                  </div>
                  <div class="changeColor" style="font-size:20px;">
                    Summarized Word Count:{{model_info[0][9]}}
                  </div>
                  <div class="changeColor" style="font-size:20px;">
                    {{model_info[0][10]}}% Difference
                  </div>

                  <br><br>
                  <ol class="changeColor" style="padding: 0 15% 0px 30px;margin-left:20%;">
                    {% for word in top_words %}
                      <li class="" style="margin:1px; font-size:20px;">{{word}} </li>
                    {% endfor %}
                  </ol>

              </div>
            <div class="col-md-4 col-sm-4 col-lg-4" style="padding:30% 5% 0 0;">
                  <img src="../static/videos/{{vid_name}}s.png"/>
            </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container" style="padding-top:5%;" id="transcript">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 scrollable" style="color:#fff;"><h2 style="color:#fff;">Original Transcript</h2>{{model_info[0][2]}}</div>
            <div class="col-md-6 col-sm-6 col-lg-6 scrollable" style="color:#fff;"><h2 style="color:#fff;">Summarized Transcript</h2> {{model_info[0][3]}} </div>
          </div>
        </div>
    </section>
{% endblock %}
